<!DOCTYPE html>

<html lang="ru">
<p style="margin-left:15px">
<%= @book.empty? ? 'У автора пока нет книг' : 'Доступные книги автора:'%>
</p>
<div class="row">
<% @book.each do |x| %>	

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-rounded" style="width:auto; heigth:auto" src="https://im3-tub-ru.yandex.net/i?id=6cfc6fe577ffa5a11c8b752d1f33f369-l&n=13" alt="...">
      <div class="caption">
        <h4><%= x.name %></h4>
		<span class="glyphicon glyphicon-time" aria-hidden="true"></span> Добавлена: <%= x.created_at%>
	<p>
		<blockquote>
			
			<p style="font-size:65%; color:grey">
				какое то опимание
			</p>
		</blockquote>	
	</p>	
	<p>
		<a href="#" class="btn btn-primary" role="button">Купить</a> 
		<a href="#" class="btn btn-default" role="button">Подробнее</a>
	</p>
       
      </div>
    </div>
  </div>

<% end %>
</div>

</html>    
